snippet pdb
	import ipdb; ipdb.set_trace()
snippet rpdb
	import rpdb; rpdb.set_trace()
snippet pytest
	import pytest; pytest.set_trace()
snippet skip
	@pytest.mark.skipif("True")
snippet td
	# TODO: 
snippet tnd
	[ ]

